@import 'normalize.scss'; // css reset
@import 'fonts.scss'; // font defs as 'Inconsolata'
@import 'codemirror.scss'; // styles for code editor

html, body, #editor, #output { position: fixed; height: 100%; width: 100%; top: 0; left: 0; }

body { overflow: hidden; } // disable overscroll on osx

#editor { z-index: 1; width: 40em; }
#output { background: #112; }

.code-error-message {
  position:absolute;
  z-index: 20;
  color: white;
  background: hsla(1, 74%, 52%, .4);
  border: 1px solid hsla(1, 74%, 52%, .1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 10px;
}

.hovered {
  border-bottom: 1px solid white;
}
