@import 'normalize.scss'; // css reset
@import 'fonts.scss'; // font defs as 'Inconsolata'
@import 'codemirror.scss'; // styles for code editor

html, body { height: 100%; width: 100%; top: 0; left: 0; }
#editor, #output {
  position: fixed;
  height: 100%;
}
body { overflow: hidden; } // disable overscroll on osx

#editor { z-index: 1; width: 40em; }
#output { background: #112; }

.code-error-message {
  position: absolute;
  color: hsla(1, 78%, 52%, 1);
  border: 0;
  border: 1px solid hsla(1, 74%, 52%, .9);
  background: rgba(0, 0, 0, .1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 5px 0 5px;
  margin: 0;
  margin-bottom:1px;
}

.CodeMirror-lineWidget div {
  resize:none;
}

.errorLoc {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1px;
  padding: 2px 3px 0px 3px;
  /*border: 1px solid hsla(1, 74%, 52%, .9);*/
  /*border-top: 1px solid #17181A;*/
  /*background: rgba(0, 0, 0, .1);*/
  /*display: inline-block;*/

  color: hsla(1, 78%, 52%, 1) !important;

}

.arrow-down {
  position:absolute;
  width: 0px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid hsla(1, 74%, 52%, .9);
  bottom:-5px;
  left: 1px;
}

.errorLoc:after {
  width: 10px;
  height: 10px;
  background: #f0f;
}

.hovered {
  border-bottom: 1px solid white;
  border-radius: 0px;
}
