html, body, #editor, #output { position: fixed; height: 100%; width: 100%; top: 0; left: 0; }

body { overflow: hidden; } /* disable overscroll on osx */

#editor { z-index: 1; width: 40em; }
#output { background: linear-gradient(#3a8d7a, #111); }
